/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('../Inhabitent-site/fonts/Merriweather/Merriweather-Bold.eot');
  src: url('../Inhabitent-site/fonts/Merriweather/Merriweather-Bold.woff2') format('woff2'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-Bold.woff') format('woff'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-Bold.svg#Merriweather-Bold') format('svg'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-BoldItalic';
  src: url('../Inhabitent-site/fonts/Merriweather/Merriweather-BoldItalic.eot');
  src: url('../Inhabitent-site/fonts/Merriweather/Merriweather-BoldItalic.woff2') format('woff2'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-BoldItalic.woff') format('woff'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-BoldItalic.ttf') format('truetype'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-BoldItalic.svg#Merriweather-BoldItalic') format('svg'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Light';
  src: url('../Inhabitent-site/fonts/Merriweather/Merriweather-Light.eot');
  src: url('../Inhabitent-site/fonts/Merriweather/Merriweather-Light.woff2') format('woff2'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-Light.woff') format('woff'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-Light.ttf') format('truetype'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-Light.svg#Merriweather-Light') format('svg'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-LightItalic';
  src: url('../Inhabitent-site/fonts/Merriweather/Merriweather-LightItalic.eot');
  src: url('../Inhabitent-site/fonts/Merriweather/Merriweather-LightItalic.woff2') format('woff2'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-LightItalic.woff') format('woff'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-LightItalic.ttf') format('truetype'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-LightItalic.svg#Merriweather-LightItalic') format('svg'),
       url('../Inhabitent-site/fonts/Merriweather/Merriweather-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecentosanswide-DemiBold';
  src: url('../Inhabitent-site/fonts/Novecento/Novecentosanswide-DemiBold.eot');
  src: url('../Inhabitent-site/fonts/Novecento/Novecentosanswide-DemiBold.woff2') format('woff2'),
       url('../Inhabitent-site/fonts/Novecento/Novecentosanswide-DemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecentosanswide-Normal';
  src: url('../Inhabitent-site/fonts/Novecento/Novecentosanswide-Normal.eot');
  src: url('../Inhabitent-site/fonts/Novecento/Novecentosanswide-Normal.woff2') format('woff2'),
       url('../Inhabitent-site/fonts/Novecento/Novecentosanswide-Normal.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}