footer {
    height: 325px; 
    padding: 40px 100px 40px 100px;
    background-image: url('../../Inhabitent-site/images/dark-wood.png');
    .copyright {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        color: white;
        text-transform: uppercase;
        font-family: $font__accent; 
    }
    p {
        color: white;
        font-family: $font__main; 
    }
    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}

h3 {
    color: $orange_brand_color;
    text-transform: uppercase;
}

.container {
    display: flex;
    .contact-info {
        width: 25%;
        .footer-social-media {
            span {
                margin-right: 15px;
            }
        }
    }
    .business-hours {
        width: 25%;

        p span {
            font-family: 'Merriweather-Bold';
        }
    }
    .footer-logo {
        width: 50%;
        padding-top: 20px;
        position: relative;
        img {
            height: 50px;
            position: absolute;
            right: 0px;
        }
    }
}