footer {
    height: 350px;
    background-color: black;
    padding: 50px 50px 50px 50px;
}

h3 {
    color: $orange_brand_color;
}

.container {
    display: flex;
    
    .contact-info {
        width: 30%
    }

    .business-hours {
        width: 30%;
    }

    .footer-logo {
        width: 40%;
    }
}