/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.blog {
    #primary {
        background-color: lightblue;
    }
    .footer {

    }
    .class-blog {

    }
}

.content-area {
    width: 70%;
}

.site-content {
    display: flex;
}