/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.blog {
    #primary {
        background-color: lightblue;
    }
    .footer {

    }
    .class-blog {

    }
}

.content-area {
    width: 100%;
}

body:not(.home):not(.page-template-about):not(.post-type-archive):not(.tax-product-type):not(.single-product):not(.single-adventure) .content-area {
    width: 74%;
    padding-right: 25px;
}

.site-content {
    display: flex;
    padding-top: 50px;
}

body:not(.home):not(.page-template-about):not(.post-type-archive):not(.tax-product-type):not(.single-product):not(.single-adventure) .site-content {
    width: 1120px;
    display: flex;
    margin: auto;
}

.container {
	//height: 600px;
	// width: 100%;
	// display: flex;
    // justify-content: center;
}

.custom-hero { //hero banner image
	height: 450px;
	display: flex;
    justify-content: center;
    align-items: center;

    h1 {
    color: white;
    font-size: 40px;
    font-family: 'Novecentosanswide-DemiBold';
    }
}

.entry-content {
    width: 850px;
    margin: auto;
    padding: 30px;

    h2 {
        text-align: center;
        font-size: 32px;
    }
}