/* Styling for the Sidebar */

#secondary {
  width: 30%;
  padding-left: 50px;
  padding-top: 30px;
  border-left: $base__border-solid;

  aside {
      padding-bottom: 20px;
  }

}

.day-of-week {
    font-family: 'Merriweather-Bold';
}

.textwidget {
    i {
        margin-right: 15px;
    }
}